<!DOCTYPE html>
<html>
<head>
    <title>Excel Download</title>
</head>
<body>
    <div class="container">
    <h1>Unofficial_text JSON Data of the First Object:</h1>
    <pre><%= cit[0].toString() %></pre>
    <h1>First Names of the Defendants <%= JsonFilename.toString()%> File:</h1>
    <% extractedStrings.forEach(function(item) { %>
        <div><%= item.trim() %></div>
      <% }); %>
      <h1>NAMES OF CORPORATIONS:</h1>
      <% corpnames.forEach(function(item) { %>
        <div><%= item.trim() %></div>
      <% }); %>
    <button id="downloadButton">Download Excel</button>
</div>
    <script src="script.js">
    </script>
</body>
</html>
