<!DOCTYPE html>
<html>
<head>
    <title>Excel Download</title>
</head>
<body>
    <div class="container">
    <h1>JSON Data:</h1>
    <pre><%= cit[0].toString() %></pre>
    <button id="downloadButton">Download Excel</button>
</div>
    <script src="script.js"></script>
</body>
</html>
